[submodule "modulo1/gostack-desafio2"]
	path = modulo1/gostack-desafio2
	url = git@github.com:Alcsaw/gostack-desafio2.git
[submodule "modulo1/gostack-desafio3"]
	path = modulo1/gostack-desafio3
	url = git@github.com:Alcsaw/gostack-desafio3.git
[submodule "modulo1/gostack-desafio4"]
	path = modulo1/gostack-desafio4
	url = git@github.com:Alcsaw/gostack-desafio4.git
[submodule "nível02/gostack-desafio5"]
	path = nível02/gostack-desafio5
	url = git@github.com:Alcsaw/gostack-desafio5.git
